*{
	padding:0;
	margin:0;
	font-family: 'Oswald', sans-serif;
}

body {
	background-color: #B5D99C;
}
#playerPick {
	background-color: #F5F7DC;
	min-height: 300px;
	min-width: 300px;
}
#enemyPick {
	background-color: #F5F7DC;
	min-height: 300px;
	min-width: 300px;
}

.container-fluid {
	background-color: #B5D99C;
	height: 100%;

}
img {
	border-radius: 100%;
	height: 200px;
}

.miniContainer {
	background-color: #A5C68E;
	min-height: 250px;

}

.enemyresult {
	max-height: 150px;
}
.playerresult {
	max-height: 100px;
}

.medium {
	font-size: 50px;
}

.btn {
	border: 1px solid white;
	border-radius: 30%;
	width: 100%;
	background-color: #FFFF82;
}

.btn:hover {
	background-color: #E65F5C;
	transition: 1s;
}
.miniContainer1 {
	background-color: #A5C68E;
	min-height: 250px;
}
.weapon:hover {
	height: 220px;
	transition: 0.5s;
}

#playerscore {
	font-size: 50px;
}

#enemyscore {
	font-size: 50px;
}